/* Signup.css */

.signup-container {
  background-color: #f8f9fa; /* Light gray background */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: #ffffff; /* White background for the form */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 400px; /* Limit form width */
  width: 100%;
}

.signup-form h1 {
  color: #007bff; /* Blue color for headings */
  font-size: 2.5rem; /* Larger font size for heading */
  text-align: center;
  margin-bottom: 2rem; /* Larger margin below heading */
}

.signup-form form {
  margin-bottom: 2rem; /* Space below form */
}

.signup-form input,
.signup-form button {
  font-size: 1.2rem; /* Larger font size for inputs and buttons */
  padding: 10px 15px; /* Padding around inputs and buttons */
}

.signup-form hr {
  border-top: 1px solid #dee2e6; /* Gray border for horizontal rule */
  margin: 2rem 0; /* Larger margin above and below horizontal rule */
}

.signup-form p {
  font-size: 1.2rem; /* Normal font size for text */
  text-align: center;
}
.signup-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: -30px;
}
